/*----------------- Global -----------------*/
:root {
    --background-color-main: rgb(26, 26, 26);
    --background-color-second: rgb(43, 43, 43);

    --accent-purple: #9000ff;

    --border-radius-regular: 20px;

    --box-shadow-main: 0 5px 10px 1px rgba(0, 0, 0, 0.266);
}

html {
    scroll-behavior: smooth;
}

* {
    /* font-family: "Homemade Apple", cursive; */
    font-family: "Outfit", sans-serif;
    /* outline: 1px solid white; */
    /* -webkit-tap-highlight-color: transparent; */
}

::selection {
    background-color: var(--accent-purple);
    color: white;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: none;
}

/*----------------- Body -----------------*/

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--background-color-main);
    color: #fff;
    overflow-x: hidden;
}

.section {
    margin-block: 50px;
}

button {
    font-size: 1rem;
}

/*----------------- Header -----------------*/

header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: linear-gradient(
        var(--background-color-main),
        transparent
    );
    backdrop-filter: blur(3px);
}

.logo {
    object-fit: scale-down;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar li {
    list-style: none;
    margin-inline: 20px;
    transition: all 0.2s ease-in-out;
}

.navbar li:hover {
    transform: translateY(-4px);
}

/*----------------- Main -----------------*/

main {
    max-width: 1200px;
    margin: auto;
}

section h1:not(#intro-section h1) {
    font-size: 40px;
}

/*----------------- Intro Section -----------------*/

#intro-section {
    position: relative;
    padding: 20px;
    height: 85vh;
    max-height: 1080px;
}

.title-container {
    display: flex;
    position: relative;
    font-size: 60px;
    box-sizing: border-box;
}

#title {
    position: absolute;
    max-width: 600px;
    overflow-wrap: break-word;
}

#author {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    margin: 20px;
}

#cursor {
    border-right: 20px solid var(--accent-purple);
}

@keyframes cursor-blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*----------------- Studies Sections -----------------*/

#studies-section {
    padding: 20px;
}

.study-window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studies-container {
    background-color: var(--background-color-second);
    padding: 20px;
    border-radius: 0 20px 20px 20px;
    box-shadow: var(--box-shadow-main);
}

.study {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.study:not(.study:first-of-type) {
    display: none;
}

.study h2,
.study p {
    margin: 0;
}

.study h2 {
    grid-row: 1;
    grid-column: span 2;
}

.study div:nth-child(n + 2) {
    grid-row: span 1;
    grid-column: span 1;
}

.study-tab {
    background-color: var(--background-color-second);
    color: white;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 20px 20px 0 0;
}

.study-tab:not(.study-tab:first-of-type) {
    background-color: #141414;
}

@media (max-width: 600px) {
    .study div:nth-child(n + 2) {
        grid-column: span 2;
    }
}

/*----------------- Film Analysis Sections -----------------*/

#film-analysis-section {
    padding: 20px;
}

.film-analysis-boxes-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.film-analysis-box {
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: var(--border-radius-regular);
    box-shadow: var(--box-shadow-main);
}

@media (max-width: 1000px) {
    .film-analysis-boxes-container {
        grid-template-columns: 1fr 1fr;
    }
    .film-analysis-box:last-of-type {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .film-analysis-box {
        grid-column: span 2;
    }
}

/*----------------- Art Analysis Sections -----------------*/

/* #art-analysis-section {
} */

#art-analysis-section h1 {
    padding-inline: 20px;
    position: relative;
}

.art-analysis-boxes-container {
    padding: 20px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    gap: 20px;
}

.snap-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 20px;
}

.snap-inline * {
    scroll-snap-align: start;
}

.art-analysis-box {
    max-height: 600px;
    overflow-y: scroll;
    background-color: #2b2b2b;
    display: grid;
    grid-template-rows: min-content;
    width: 19rem;
    border-radius: var(--border-radius-regular);
}

.art-analysis-box img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.art-analysis-box h2,
.art-analysis-box p {
    padding: 0 20px;
}

/*----------------- Old People's Art & Simulation Sections -----------------*/

#old-peoples-art-section,
#simulation-section {
    padding: 20px;
}

.img-with-caption {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.img-with-caption img {
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 100%;
    height: auto;
    min-width: 100px;
    border-radius: var(--border-radius-regular);
}

.img-with-caption p {
    min-width: 100px;
}

@media (max-width: 600px) {
    .img-with-caption {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/*----------------- Brand Sections -----------------*/

#brand-section {
    width: 300px;
    position: relative;
    padding: 20px;
    margin-bottom: 350px; /* photobanner is absolute */
}

.photobanner {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
}

.photobanner img {
    border-radius: var(--border-radius-regular);
    height: 300px;
    object-fit: cover;
    margin: 20px;
    transition: all 0.2s ease-out;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

/*----------------- Footer -----------------*/

footer {
    color: #888888;
    background-color: var(--background-color-second);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
}
